/* nav bar with item at the end */
.nav-container {
  display:flex;
  margin: 0 2%;
}
.nav-container div {
  flex: .5 1 auto;
}
#blog {
  flex: 3;
  text-align: end;
}

/* equally spaced out nav bar */
.nav-container2 {
  max-width: 75%;
  display: flex;
  margin: 0 2%;
}
.nav-container2 div {
  flex: 1 1 auto;
}
